@import url("main.css");

body {
    font-size: 100%; /* Base font size: 14px */
}

.body {
  width: 900px;
}

#banner nav {
  width: 900px;
}

#banner nav ul {width: 900px;}

#about, #featured, #content {
	width: 860px;
}

ul, ol {
	margin: 0em 0 0 40px;
}
